---
layout: default
title: Kevin Assogba
images:
- /assets/img/gallery/stem.jpg
- /assets/img/gallery/innovation.jpg
- /assets/img/gallery/non_return_gate.jpg
- /assets/img/gallery/monument.jpg
---

<div class="img-animtion" id="gallery" style="padding-top:75px">
    {% include gallery.html %}
</div>

<!-- Introduction -->
<section class="masthead bg-primary text-white text-center" id="introduction">
    <div class="container">
        <img class="img-fluid mb-6 d-block mx-auto" width="100px" height="100px" style="border-radius: 75px" src="/assets/img/profile.png" alt="">
        <h1 class="text-uppercase mb-0">Kevin Assogba</h1>
        <hr class="star-light">
        <h3 class="font-weight-light mb-4">Software Engineer | Data Scientist | Logistics Engineer</h3>
        <h5 class="font-weight-light mb-4"> Personal Development Enthusiast | Free and Open-Source Software Advocate</h5>
        <div class="col-lg-8 mx-auto">
            <P class="lead" align = "justify">
                Graduate student in Computer Science with an interest in high performance computing, I have a M. Eng degree in Logistics Engineering, with Transportation as concentration. I am an advocate of teamwork and passionate about R&D.
            </P>
        </div>
    </div>
</section>

<!-- Curriculum Section -->
<section class="masthead bg-secondary text-white mb-0" id="curriculum">
    <div class="container mb-5">
        <h2 class="text-center text-uppercase text-white mb-5">Curriculum</h2>
        <nav class="navbar background-color: transparent" style="list-style: none;">
            <button type="button" class="lead btn btn-default text-white" data-toggle="modal" data-target="#Education">
                <img src="/assets/img/curriculum/education.png" width="150" alt=""/>
                <br><text style="font-family:verdana; font-size:20pt"> Education </text>
            </button>
            <button type="button" class="btn btn-default text-white" data-toggle="modal" data-target="#Skills">
                <img src="/assets/img/curriculum/skills.png" width="150" alt=""/>
                <br><text style="font-family:verdana; font-size:20pt"> Skills </text>
            </button>
            <button type="button" class="btn btn-default text-white" data-toggle="modal" data-target="#Experience">
                <img src="https://www.freeiconspng.com/uploads/customers-icon-3.png" width="150" alt=""/>
                <br><text style="font-family:verdana; font-size:20pt"> Experience </text>
            </button>
            <button type="button" class="btn btn-default text-white" data-toggle="modal" data-target="#Memberships">
                <img src="https://www.freeiconspng.com/uploads/communication-community-connection-global-internet-network-icon--14.png" width="150" alt=""/>
                <br><text style="font-family:verdana; font-size:20pt"> Memberships </text>
            </button>
            <button type="button" class="btn btn-default text-white" data-toggle="modal" data-target="#Awards">
                <img src="/assets/img/curriculum/awards.png" width="150" alt=""/>
                <br><text style="font-family:verdana; font-size:20pt"> Awards </text>
            </button>
        </nav>
    </div>
    <div class="container mb-0">
        <div class="text-center">
            <a class="btn btn-xl btn-outline-light" href="/assets/pdf/Kevin_Assogba_Resume.pdf" target="_blank">
                <i class="fas fa-download mr-2"></i>
                Download Resume!
            </a>
        </div>
    </div>
</section>

<!-- About Me Section -->
<section class="masthead bg-light text-secondary mb-0" id="a_word_from_me">
    <div class="container">
        <div class="row">
            <div class="card col-md-4 col-lg-6 col-4 bg-transparent my-auto" style="border: none">
                <svg width="350" height="350" style="margin: auto; display: block">
                    <rect x="0" y="0" rx="20" ry="20" width="250" height="300" fill="none" style="stroke:black;stroke-width:5; opacity:0.75" />
                    <image width="250px" height="300px" xlink:href="/assets/img/a_word.jpeg" x="50" y="50"/>
                </svg>
            </div>
            <div class="card col-md-4 col-lg-6 col-12 bg-transparent my-auto" style="border: none">
                <div class="card-body justify-content-center">
                    <h2 class="card-title mb-3 mt-3">A word about me</h2>
                    <blockquote>
                    <p class="lead card-text" style="vertical-align: middle; font-size:20px">
                        <br>
                        I dream to live and I live to make my dreams come true. I am the key to my success and I live for it. I have made Trust, Compassion, Humility my strengths, factors which I believe are important for an efficient personal development.
                    </p>
                </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Publication Section -->
<section class="masthead portfolio" id="publications">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Publications</h2>
        <hr class="star-dark mb-5">
        <div class="d-flex justify-content-around">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <ol>
                            {% for ref in site.data.refs limit: 5 %}
                            <li>
                                <p>{{ ref.names }}, {{ ref.year }}. <cite> {{ ref.title }}</cite>. {{ ref.journal }}.
                                    {% if ref.link %}
                                    <a href = "{{ ref.link }}" target="_blank"> <i class="fas fa-book-reader"></i></a>
                                    {% endif %}
                                </p>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-2">
            <div class="text-center">
                <a class="btn btn-xl btn-outline-dark" href="/publications" target="_blank">
                    <i class="fas fa-book-reader mr-2"></i>
                    View more...
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Projects Section -->
<section class="masthead portfolio bg-primary" id="projects">
    <div class="container-fluid">
        <h2 class="text-center text-uppercase text-white mb-0">Projects</h2>
        <hr class="star-light">
        <div class="row">
            {% for post in site.categories.projects %}
                <div class="col-xl-4 col-md-6 col-lg-4 col-12 py-2 px-2">
                    <div class="card border-0 bg-transparent">
                        <div class="card-body text-center">
                            <img class="w-75 h-50 mb-3" src="{{ post.images }}" alt="Image">
                            <h5 class="card-title mb-3">{{ post.title }}</h5>
                            <div class="card-text text-black">
                                <p>{{ post.excerpt }}</p>
                                <a class="btn btn-block bg-secondary text-white" href="{{ post.url }}">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Resume -->
<!-- Education -->
<div class="modal fade" id="Education">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center text-capitalize"><font color = "black">Education</font></h3>
                <div><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button></div>
            </div>
            <div class="modal-body">
                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-6">
                    <div class="resume-content">
                        <h5 class="mb-0 text-secondary">Rochester Institute of Technology - USA</h5>
                        <div class="subheading mb-6 text-secondary">Master of Science</div>
                        <div class = "mb-6 text-secondary" align = "justify">Computer Science</div>
                        <div class="subheading mb-6 text-primary">August 2018 - May 2020</div>
                        <p class = "mb-6" align = "justify"><font color = "black">GPA: 3.57 / 4.0</font></p>
                    </div>
                </div>
                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-6">
                    <div class="resume-content">
                        <h5 class="mb-0 text-secondary">Chongqing Jiaotong University - China</h5>
                        <div class="subheading mb-6 text-secondary">Master of Engineering</div>
                        <div class = "mb-6 text-secondary" align = "justify">Logistics Engineering</div>
                        <div class="subheading mb-6 text-primary">September 2015 - June 2018</div>
                        <p class = "mb-6" align = "justify"><font color = "black">GPA: 3.74 / 4.0</font></p>
                    </div>
                </div>
                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-6">
                    <div class="resume-content">
                        <h5 class="mb-0 text-secondary">University of Abomey-Calavi - Benin</h5>
                        <div class="subheading mb-6 text-secondary">Bachelor of Arts</div>
                        <div class = "mb-6 text-secondary" align = "justify">Applied English Linguistics</div>
                        <div class="subheading mb-6 text-primary">December 2009 - November 2013</div>
                        <p class = "mb-6" align = "justify"><font color = "black">GPA: 13.38 / 20</font></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#" data-dismiss="modal">Close </button>
            </div>
        </div>
    </div>
</div>

<!-- Skills -->
<div class="modal fade" id="Skills">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center text-capitalize"><font color = "black">Skills</font></h3>
                <div><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button></div>
            </div>
            <div class="modal-body">
                <h5 class="subheading mb-3 text-secondary">Programming Languages &amp; Tools</h5>
                <ul class="col list-inline dev-icons">
                    <li class="list-inline-item">
                        <img width="40px" height="40px" style="border-radius: 20px" src="/assets/img/curriculum/java.png" alt="">
                    </li>
                    <li class="list-inline-item">
                        <img width="40px" height="40px" style="border-radius: 20px" src="/assets/img/curriculum/python.png" alt="">
                    </li>
                    <li class="list-inline-item">
                        <img width="40px" height="40px" style="border-radius: 20px" src="/assets/img/curriculum/matlab.gif" alt="">
                    </li>
                    <li class="list-inline-item">
                        <img width="40px" height="40px" style="border-radius: 20px" src="/assets/img/curriculum/mysql.png" alt="">
                    </li>
                    <li class="list-inline-item">
                        <img width="40px" height="40px" style="border-radius: 20px" src="/assets/img/curriculum/Rlogo.png" alt="">
                    </li>
                </ul>
                <h5 class="subheading mb-3 text-secondary">Languages</h5>
                <ul class="fa-ul mb-3">
                    <li><font color = "black"><i class="fa-li fa fa-check"></i>
                        French</font>
                    </li>
                    <li><font color = "black"><i class="fa-li fa fa-check"></i>
                        English</font>
                    </li>
                    <li><font color = "black"><i class="fa-li fa fa-check"></i>
                        Mandarin</font>
                    </li>
                </ul>
                <h5 class="subheading mb-3 text-secondary">Aptitudes</h5>
                <ul class="fa-ul mb-3">
                    <li><font color = "black"><i class="fa-li fa fa-check"></i>
                        Research &amp; Development</font>
                    </li>
                    <li><font color = "black"><i class="fa-li fa fa-check"></i>
                        Collaboration &amp; teamwork</font>
                    </li>
                    <li><font color = "black"><i class="fa-li fa fa-check"></i>
                        Details &amp; big picture oriented</font>
                    </li>
                    <li><font color = "black"><i class="fa-li fa fa-check"></i>
                        Devotion for quick learning</font>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#" data-dismiss="modal">Close </button>
            </div>
        </div>
    </div>
</div>

<!-- Experience -->
<div class="modal fade" id="Experience">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center text-capitalize"><font color = "black">Experience</font></h3>
                <div><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button></div>
            </div>
            <div class="modal-body">
                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-6">
                    <div class="resume-content">
                        <h5 class="mb-0 text-secondary">Logistics engineering Intern</h5>
                        <div class="subheading mb-6 text-secondary">Xiang Mao Logistics - Chongqing (China)</div>
                        <div class="subheading mb-6 text-primary">March 2016 - June 2016</div>
                        <ul class="fa-ul mb-6">
                            <li><font color = "black"><i class="fa-li fa fa-check"></i>
                                Analyzed logistics operations costs on a time frame basis</font>
                            </li>
                            <li><font color = "black"><i class="fa-li fa fa-check"></i>
                                Researched the company’s logistics network to improve its economic and environmental efficiency</font>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-6">
                    <div class="resume-content">
                        <h5 class="mb-0 text-secondary">Interpreter &amp; Human Resources Assistant</h5>
                        <div class="subheading mb-6 text-secondary">Wang Sam Resources Trading Company - Brazzaville (Congo-Brazzaville)</div>
                        <div class="subheading mb-6 text-primary">December 2013 - July 2014</div>
                        <ul class="fa-ul mb-6">
                            <li><font color = "black"><i class="fa-li fa fa-check"></i>
                                Recruited some of the company’s local workers and coordinated the resolution of several internal affairs between foreign and local workers as well as legal issues with local authorities.</font>
                            </li>
                            <li><font color = "black"><i class="fa-li fa fa-check"></i>
                                Managed product flows into and out of the transformation facilities.</font>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-6">
                    <div class="resume-content">
                        <h5 class="mb-0 text-secondary">Interpreter &amp; Logistics Manager</h5>
                        <div class="subheading mb-6 text-secondary">Hong Sen Minerals Trading Company - Abidjan (Côte d’Ivoire)</div>
                        <div class="subheading mb-6 text-primary">December 2012 - November 2013</div>
                        <ul class="fa-ul mb-6">
                            <li><font color = "black"><i class="fa-li fa fa-check"></i>
                                Interpreted and translated documents from/to French, Chinese and English languages.</font>
                            </li>
                            <li><font color = "black"><i class="fa-li fa fa-check"></i>
                                Coordinated logistics during three months one of the company’s loading park.</font>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-6">
                    <div class="resume-content">
                        <h5 class="mb-0 text-secondary">Teaching Assistant</h5>
                        <div class="subheading mb-6 text-secondary">Healer's Society - Abomey-Calavi (Benin)</div>
                        <div class="subheading mb-6 text-primary">December 2012 - October 2013</div>
                        <ul class="fa-ul mb-6">
                            <li><font color = "black"><i class="fa-li fa fa-check"></i>
                                Instructed Freshmen and Sophomore of the English Department of Abomey-calavi University during extracurricular tutoring classes in Mandarin Phonology and English Phonetics</font>
                            </li>
                            <li><font color = "black"><i class="fa-li fa fa-check"></i>
                                Designed and coordinated mock exams to prepare students for midterm and final exams</font>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#" data-dismiss="modal">Close </button>
            </div>
        </div>
    </div>
</div>

<!-- Memberships -->
<div class="modal fade" id="Memberships">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center text-capitalize"><font color = "black">Club membership</font></h3>
                <div><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button></div>
            </div>
            <div class="modal-body">
                <ul class="fa-ul mb-0">
                    <li class = "mb-3"><font color = "black"><i class="fa-li fa fa-check"></i>
                        RITficial Intelligence (RIT Artificial Intelligence club) - USA
                        <div class="subheading mb-6 text-primary">Member</div>
                        <div class="subheading mb-6 text-primary">August 2018 - Present</div></font>
                    </li>
                    <li class = "mb-3"><font color = "black"><i class="fa-li fa fa-check"></i>
                        ESW-RIT (Engineers for Sustainable World RIT) - USA
                        <div class="subheading mb-6 text-primary">Member</div>
                        <div class="subheading mb-6 text-primary">August 2018 - Present</div></font>
                    </li>
                    <li class = "mb-3"><font color = "black"><i class="fa-li fa fa-check"></i>
                        Chongqing Jiaotong University Radio station - China
                        <div class="subheading mb-6 text-primary">News Reporter</div>
                        <div class="subheading mb-6 text-primary">2016 - 2017</div></font>
                    </li>
                    <li class = "mb-3"><font color = "black"><i class="fa-li fa fa-check"></i>
                        TEC (Titigweti English Club) - Benin
                        <div class="subheading mb-6 text-primary">Head of News Section; Secretary General; Vice-President</div>
                        <div class="subheading mb-6 text-primary">2011 - 2013</div></font>
                    </li>
                    <li class = "mb-3"><font color = "black"><i class="fa-li fa fa-check"></i>
                        Radio Univers - Benin
                        <div class="subheading mb-6 text-primary">News Reporter</div>
                        <div class="subheading mb-6 text-primary">2011 - 2012</div></font>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#" data-dismiss="modal">Close </button>
            </div>
        </div>
    </div>
</div>

<!-- Awards -->
<div class="modal fade" id="Awards">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center text-capitalize"><font color = "black">Awards &amp; Certifications</font></h3>
                <div><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button></div>
            </div>
            <div class="modal-body">
                <ul class="fa-ul mb-0">
                    <li><i class="fa-li fa fa-trophy text-warning"></i>
                        <font color = "black">'18-20 Fulbright Scholar</font>
                    </li>
                    <li><i class="fa-li fa fa-trophy text-warning"></i>
                        <font color = "black">'14-18 Chinese Government Scholar</font>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#" data-dismiss="modal">Close </button>
            </div>
        </div>
    </div>
</div>
