<header id="page-top">
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
        <div class="container">
            <a class="nav-link js-scroll-trigger d-inline-block align-top" href="/">
                <P class="lead mb-0 text-capitalize" >
                    <img width="50px" height="50px" style="border-radius: 50px" src="/assets/img/logo.jpg" alt=""><small> Hello &amp; Welcome!</small>
                </P>
            </a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse header-menu" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-5">
                        <a class="nav-link py-3 px-3 px-lg-3 rounded js-scroll-trigger" href="/">
                            Home
                        </a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-5">
                        <a class="nav-link py-3 px-3 px-lg-3 rounded js-scroll-trigger" href="/publications">
                            Portfolio
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <div class="sub-menu">
                            <ul class="bg-secondary" style="text-align: left">
                                <li class="nav-item">
                                    <a class="nav-link" href="/publications">Publications</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/projects">Projects</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item mx-0 mx-lg-5">
                        <a class="nav-link py-3 px-3 px-lg-3 rounded js-scroll-trigger" href="/blog">
                            MyBloG
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
