/* General setup for all pages */
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

/* Hides the sub menu to only display it on hover */
.sub-menu {
    display: none;
}
.header-menu ul li:hover .sub-menu {
    display: block;
}
.header-menu ul li:hover .sub-menu ul {
    display: block;
    z-index: 10;
    position: absolute;
    padding: 15px;
    list-style: none;
}

.carousel-item img {
    width: 100%;
    height: 500px;
    max-height: 500px;
}

#sideNav {
    display: none;
    /* margin-top: 10px; */
}

.side-menu {
    float: left;
    width: 20%;
    min-height: 100%;
    height: 100%;
    padding: 20px;
    background: #ccc;
}

/* MyBloG */
#post-body {
    margin-top: 100px;
}

.blog-page {
    display: table;
    clear: both;
}

.fluid.adjust {
    padding-left: 15px;
    padding-right: 15px;
}

.blog-page: after {
  content: "";
  display: table;
  clear: both;
}

.blog-content {
    float: left;
    width: 80%;
    padding: 20px;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* On screens that are 992px or less, set the background color to olive */
@media screen and (max-width: 991px) {
    .carousel-item img {
        width: auto;
        height: 300px;
        max-height: 300px;
    }

    .side-menu {
        display: none;
    }

    .side-menu ul li a{
        padding-top: 0;
    }
    .blog-content {
        float: left;
        width: 100%;
        padding: 20px;
    }

    #sideNav {
        display: block;
    }

    #post-body {
        margin-top: 85px;
    }
}
