/* General setup for all pages */
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* Hides the sub menu to only display it on hover */
.sub-menu {
    display: none;
}
.header-menu ul li:hover .sub-menu {
    display: block;
}
.header-menu ul li:hover .sub-menu ul {
    display: block;
    z-index: 10;
    position: absolute;
    padding: 15px;
    list-style: none;
}

.carousel-item img {
    width: auto;
    height: 800px;
    max-height: 800px;
}

.side-menu {
    float: left;
    width: 30%;
    min-height: 100%;
    height: 100%;
    padding: 50px;
    background: #ccc;
}

/* sticky footer */
html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

/* Clear floats after the columns */
.blog-page: after {
  content: "";
  display: table;
  clear: both;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .carousel-item img {
        width: auto;
        height: 300px;
        max-height: 300px;
    }

    .side-menu {
        float: left;
        width: 30%;
        min-height: 100%;
        height: 100%;
        padding: 0px;
        background: #ccc;
    }
}
